# =====================================
# Node / Backend
# =====================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.env
.env.*.local

# Logs
logs/
*.log
logs/*.log
pids/
*.pid
*.seed
*.pid.lock

# Build / Compiled
dist/
build/
.temp/
.cache/
coverage/

# =====================================
# React / Frontend
# =====================================
# Dependencies
client/node_modules/
client/.pnp/
client/.yarn/

# Production build
client/build/
client/dist/

# Environment
client/.env
client/.env.local
client/.env.*.local

# Cache
client/.vite/
client/.next/
client/.cache/
client/.parcel-cache/

# =====================================
# OS / Editor
# =====================================
.DS_Store
Thumbs.db

# JetBrains IDE
.idea/
*.iml

# VSCode
.vscode/
.history/

# =====================================
# Misc
# =====================================
*.swp
*.swo
*.bak
*.tmp
